<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Frequency of the Word \"Tesla\" on /r/WallStreetBets during Dec 2017"
	},
	axisY:{
		includeZero: false
	},
	axisX:{
		includeZero: false
	},
	data: [{
		type: "line",
		dataPoints: [
		{% for info in DATABASE %}

			{ y: {{ info }} },

		{% endfor %}
		]
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
