
<!doctype html>
<html>

<head>
    <title>Stock Tickers by Total Mentions</title>
    <script src="{{ url_for('static',filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static',filename='js/utils.js') }}"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <canvas id="bar-chart-grouped" width="700" height="350"></canvas>
    <script>

new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'line',
    data: {
        datasets: [{
            data: [{% for info in DATABASE %}"{{ info.closePrice }}",{% endfor %}],
            label: 'Tesla Stock Price',

            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            fill: false,
            // This binds the dataset to the left y axis
            yAxisID: 'left-y-axis'
        }, {
            data: [{% for info in DATABASE %}"{{ info.sentiment }}",{% endfor %}],
            label: '/r/Tesla Average Comment Sentiment',
            backgroundColor: window.chartColors.black,
            borderColor: window.chartColors.black,
            fill: false,
            // This binds the dataset to the right y axis
            yAxisID: 'right-y-axis',
        }],
        labels: [{% for info in DATABASE %}"{{ info.date }}",{% endfor %}]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'left-y-axis',
                type: 'linear',
                position: 'left',
                scaleLabel:{
                    display: true,
                    labelString: 'Tesla Stock Price',
                    fontColor: "#ff0000"
                }
            }, {
                id: 'right-y-axis',
                type: 'linear',
                position: 'right',
                scaleLabel:{
                    display: true,
                    labelString: '/r/Tesla Comment Average Sentiment',
                    fontColor: "#000000"
                }
            }]
        }
    }
});

</script>
</body>

</html>
